@model IEnumerable<StringsNThings.Models.CartItem>
@{
    ViewBag.Title = "ViewCart";
}

<h2>Your Cart</h2>
<div class="m-auto">

    <ul>
        @foreach (var item in Model)
        {
            <h2>@item.Instrument.Name</h2>
            <img src="
            @item.Instrument.Image" style="max-width:120px" />

            <div>
                <label>
                    Price of this instrument
                    <p>@item.Instrument.Price $</p>
                </label>

            </div>



            @Html.ActionLink("Buy Item", "ProcessPayment", "Payment", new { id = item.InstrumentId, userB = item.UserId }, new { @class = "btn btn-primary p-2 mr-2 mb-4" })
            @Html.ActionLink("Discard this item", "DiscardCartItem", "Payment", new { InstrumentId = item.InstrumentId, userB = item.UserId }, new { @class = "btn btn-primary p-2 mb-4" })

        }


    </ul>
    <br />
    @using Microsoft.AspNet.Identity
    @Html.ActionLink("Empty your cart", "EmptyCart", "Payment", new { userB = User.Identity.GetUserId() }, new { @class = "btn btn-outline-primary p-2 mr-2 mb-4" })
    @Html.ActionLink("Checkout", "Checkout", "Payment", new { userB = User.Identity.GetUserId() }, new { @class = "btn btn-outline-primary p-2 mr-2 mb-4" })


</div>