<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="bootstrap.css" rel="stylesheet" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="col-md-2">
                <div class="navbar-header">
                    <button type="button" class="btn btn-primary navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        Menu
                    </button>
                    @* @Html.ActionLink("Strings'n'Things", "Index", "Instruments", new { area = "" }, new { @class = "navbar-brand" })
                    *@
                </div>

                <div class="navbar-collapse collapse">
                    <li style="list-style-type:none">@Html.ActionLink("All Instruments", "Index", "Instruments")</li>
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("String", "GetInstrumentsByType", "Instruments", new { type = "String" }, new { @style = "text-decoration:none" })</li>
                        <li>@Html.ActionLink("Brass", "GetInstrumentsByType", "Instruments", new { type = "Brass" }, new { @style = "text-decoration:none" })</li>
                        <li>@Html.ActionLink("Keyboard", "GetInstrumentsByType", "Instruments", new { type = "Keyboard" }, new { @style = "text-decoration:none" })</li>
                        <li>@Html.ActionLink("Percussion", "GetInstrumentsByType", "Instruments", new { type = "Percussion" }, new { @style = "text-decoration:none" })</li>


                    </ul>

                </div>
            </div>
        </div><!--c-->
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)
</body>
</html>
